<div class="row">
    <form (submit)="createQuiz()" [formGroup]="form">
      <div class="col-sm-11">

        <ng-container *ngIf="categories$ | async as categories">
          <auto-fill-dropdown
              placeholder="Select category"
              formControlName="mainCategory"
              [source]="categories"
          ></auto-fill-dropdown>
        </ng-container>


        <ng-container *ngIf="subcategories$ | async as subcategories">
          <auto-fill-dropdown
            placeholder="Select subcategory"
            formControlName="subCategory"
            [source]="subcategories"
          ></auto-fill-dropdown>
        </ng-container>

        
        <select id="difficultySelect" formControlName="difficulty">
          <option value="">Select difficulty</option>
          <option>Easy</option>
          <option>Medium</option>
          <option>Hard</option>
        </select>
        <button class="primary" id="createBtn" type="submit">Create</button>
      </div>
    </form>
  
  </div>
  <div class="row">
     <app-quiz [questions]="questions$ | async" ></app-quiz>
  </div>